@import './normalize.css';
@import './fonts.css';

:root {
    --font-family-base: "Martel Sans", serif;
    --font-family-accent: "Poppins", serif;

    --color-light: #FFFFFF;
    --color-yellow-bright: #FFE145;
    --color-yellow-light: #FFF7CC;
    --color-yellow-dark: #B79C10;
    --color-gray-bg: #F2F4FA;
    --color-gray-light: #D4D7E5;
    --color-gray: #9093A6;
    --color-gray-dark: #3F4255;


    --container-width: 1256px;
    --container-padding-x: 30px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 300;
    color: var(--color-gray-dark);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    width: 118px;
    height: 48px;
    border-radius: 4px;
    padding: 16px 24px;
    background-color: var(--color-gray-bg);
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
}

.justify-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: var(--font-family-accent);
    font-size: 36px;
    line-height: 1.78;
    letter-spacing: 0.08em;
}

.slider-wrapper {
    position: relative;
}

.slider-list {
    display: grid;
    grid-auto-flow: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slider-button {
    position: absolute;
    width: 48px;
    aspect-ratio: 1;
    z-index: 1;
    padding: 12px;
    border-radius: 50%;
    filter: drop-shadow(0px 8px 40px #000000ab);
}

.slider-button[data-direction="left"] {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background: url('../assets/icons/arrow-left.svg') no-repeat center var(--color-light);
}

.slider-button[data-direction="right"] {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background: url('../assets/icons/arrow-right.svg') no-repeat center var(--color-light);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 92px;
    column-gap: 15px;
    border-bottom: 1px solid var(--color-gray-light);
}

.header__logo {
    flex-shrink: 0;
}

.header__menu-list {
    display: flex;
    column-gap: 48px;
}

.header__menu-item a{
    display: flex;
    align-items: flex-end;
    column-gap: 2px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--color-gray);
}

.hero {
    margin-top: 25px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    column-gap: 68px;
}

.hero__content {
    margin-top: 95px;
}

.hero__title {
    font-family: var(--font-family-accent);
    font-size: clamp(42px, 4.03vw, 58px);
    line-height: 1.1;
    max-width: 520px;
}

.hero__actions {
    margin-top: 88px;
    display: flex;
    column-gap: 24px;
}

.hero__button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-yellow-bright);
    border-radius: 4px;
    padding: 18px 24px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
}

.hero__button span {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
}

.hero__image {
    position: relative;
    padding-bottom: 57px;
    filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.1));
}

.hero__image::after {
    content: '';
    position: absolute;
    bottom: min(26px, 2.78vw);
    left: -10.76vw;
    background: url('../assets/images/rucola.png') no-repeat center/contain;
    width: min(191px, 13.26vw);
    height: min(206px, 14.31vw);
}

.hero__image-description {
    position: absolute;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: clamp(10px, 1.1vw, 16px);
    row-gap: 14px;
    bottom: 0;
    right: 0;
    line-height: 1.5;
}

.hero__image-description::after {
    content: '';
    background: url('../assets/icons/arrow.svg') no-repeat center/contain;
    width: min(43px, 2.15vw);
    height: min(90px, 4.38vw);
}

.advantages{
    margin-top: 5px;
    position: relative;
    left: -92px;
}

.advantages__list {
    padding: 24px 25px 24px 70px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    display: inline-flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 15px;
    flex-wrap: wrap;
}

.advantages__item {
    display: flex;
    align-items: center;
    max-width: 246px;
    column-gap: 16px;
}

.advantages__image {
    width: clamp(32px, 3.33vw, 48px);
    aspect-ratio: 1;
}

.advantages__title {
    font-size: clamp(12px, 1.1vw, 16px);
}

.restaraunts {
    margin-top: 48px;
}

.restaraunts__slider-wrapper {
    margin-top: 48px;
}

.restaraunts__list {
    grid-auto-columns: calc((100% / 4) - 18px);
    padding-bottom: 12px;
    column-gap: 24px;
}

.restaraunts__item {
    min-width: calc(25% - 18px);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    max-height: 296px;
    box-shadow: 0 2px 16px 0 rgba(60, 62, 74, 0.08);
}

.restaraunts__slider-food-photo {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.restaraunts__slider-logo {
    height: 112px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nearest-restaraunts {
    margin-top: 60px;
    background-color: var(--color-gray-bg);
    padding-block: 80px;
}

.nearest-restaraunts .container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 160px;
}

.nearest-restaraunts__text {
    margin-top: 24px;
    max-width: 410px;
}

.nearest-restaraunts__form input {
    width: 336px;
    height: 72px;
    border-radius: 6px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    background: var(--color-light);
    padding: 24px 16px;
}

.nearest-restaraunts__form input::placeholder {
    color: var(--color-gray);
    background: url('../assets/icons/map.svg') no-repeat;
    background-position-x: left;
    padding-left: 32px;
}

.nearest-restaraunts__button {
    width: 88px;
    height: 72px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--color-yellow-dark);
    background-color: var(--color-yellow-bright);
}

.specialities {
    margin-top: 72px;
}

.specialities__list {
    margin-top: 48px;
    grid-auto-columns: calc((100% / 8) - 18px);
    column-gap: 24px;
    padding-left: 6px;
    padding-bottom: 12px;
}

.specialities__item {
    box-shadow: 0 2px 16px 0 rgba(60, 62, 74, 0.08);
}

.specialities__item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding: 24px 8px;
}

.specialities__icon {
    flex-shrink: 0;
}

.specialities__title {
    line-height: 1.5;
    text-align: center;
    color: #313030;
}

.our-statistics {
    margin-top: 62px;
    text-align: center;
    padding-block: 55px 45px;
    background: url('../assets/images/statistics-bg.jpg') no-repeat bottom/cover;
}

.our-statistics__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.our-statistics__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
}

.our-statistics__quantity {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: clamp( 36px, 4.03vw, 58px);
    line-height: 1.1;
    width: 127px;
    height: 149px;
    background: url('../assets/icons/statistics-bg.svg') no-repeat center/contain;
}

.our-statistics__description {
    font-family: var(--font-family-accent);
    font-weight: 600;
    font-size: clamp(16px, 1.67vw, 24px);
    line-height: 1.33333;
}

.map {
    margin-top: 72px;
}

.instagramm {
    margin-top: 72px;
}

.instagramm__title {
    color: #313030;
}

.instagramm__title span {
    color: var(--color-gray);
}

.instagramm__photos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.instagramm__photo {
    border-radius: 6px;
    max-width: max(145px, 20.76vw);
    aspect-ratio: 1;
    object-fit: cover;
}

.footer {
    margin-top: 72px;
    padding-block: 48px;
    font-weight: 700;
    color: var(--color-gray-light);
    background-color: var(--color-gray-dark);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.footer-top__logo-section {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    width: 100%;
    max-width: 296px;
}

.footer-top__dividing-line {
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-light);
}

.footer-top__download-list {
    display: flex;
    column-gap: 8px;
}

.footer-top__navigation {
    display: flex;
    justify-content: center;
    column-gap: 90px;
}

.footer-top__navigation-title {
    font-family: var(--font-family-accent);
    font-weight: 600;
    font-size: clamp(16px, 1.67vw, 24px);
    line-height: 1.33;
    color: var(--color-light);
}

.footer-top__navigation-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer-top__navigation-link {
    line-height: 1.25;
    font-size: clamp(12px, 1.11vw, 16px);
}

.footer-top__navigation-change-button {
    display: inline-flex;
    align-items: flex-end;
    line-height: 1.25;
    font-size: clamp(12px, 1.11vw, 16px);
}

.footer-top__navigation-change-button::after {
    content: '';
    width: 24px;
    aspect-ratio: 1;
    background: url('../assets/icons/backdrop-icon.svg') no-repeat center/contain;
}

.footer-top__navigation-list address {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    font-size: clamp(12px, 1.11vw, 16px);
}

.footer-top__navigation-list address p{
    font-weight: 300;
    line-height: 1.5;
    color: var(--color-light);
}

.footer-bottom {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-networks__list {
    display: flex;
    column-gap: 24px;
}

.footer-bottom__privacy {
    display: flex;
    column-gap: 55px;
    font-weight: 800;
    font-size: 12px;
    line-height: 1.33;
    color: var(--color-light);
}

.footer-bottom__privacy-text {
    font-weight: 400;
}

@media(max-width: 1500px) {
    .advantages{
        position: static;
    }

    .advantages__list {
        padding: 24px;
    }
} 

@media(max-width: 1160px) {
    .nearest-restaraunts .container {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
    }

    .nearest-restaraunts__text {
        margin-top: 18px;
    }
}

@media(max-width: 1024px) {
    .header {
        padding-inline: 20px;
    }

    .instagramm {
        margin-top: 30px;
    }

    .instagramm__photos {
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .instagramm__photo {
        flex-shrink: 1;
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-top__navigation {
        margin-top: 40px;
    }
}

@media(max-width: 960px) {
    .hero .container {
        flex-direction: column;
        align-items: center;
        padding-inline: 50px;
    }

    .hero__content {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__title {
        text-align: center;
    }

    .hero__actions {
        margin-top: 60px;
    }

    .hero__image {
        margin-top: 80px;
        padding-bottom: 20px;
    }

    .hero__image::after {
        width: 20.76vw;
        height: 20.76vw;
        left: -6.76vw;
    }

    .advantages{
        margin-top: 30px;
    }

    .advantages .container {
        display: flex;
        justify-content: center;
    }
    
    .advantages__list {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        row-gap: 10px;
    }
    
    .advantages__item {
        column-gap: 10px;
    }

    .restaraunts__list {
        grid-auto-columns: calc((100% / 3) - 18px);
    }

    .specialities__list {
        grid-auto-columns: calc((100% / 5) - 18px);
    }

    .footer-top__navigation {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 30px;
    }
}

@media(max-width: 630px) {
    .justify-title {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .restaraunts__list {
        grid-auto-columns: calc((100% / 2) - 18px);
    }

    .restaraunts__item {
        width: 100%;
        aspect-ratio: 1;
    }
    
    .restaraunts__slider-food-photo {
        width: 100%;
    }
    
    .restaraunts__slider-logo {
        height: 50%;
        padding: 5px;
    }

    .specialities__list {
        grid-auto-columns: calc((100% / 3) - 18px);
    }
    
    .footer {
        margin-top: 30px;
        padding-block: 30px;
    }

}

@media(max-width: 560px) {
    .container {
        --container-padding-x: 15px;
    }

    .advantages .container {
        justify-content: flex-start;
    }

    .advantages__list {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    .footer-bottom {
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 20px;
    }
    
    .social-networks__list {
        display: flex;
        column-gap: 24px;
    }
    
    .footer-bottom__privacy {
        column-gap: 15px;
    }
}

@media(max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__menu-list {
        align-self: flex-end;
    }

    .hero__actions {
        margin-top: 30px;
    }

    .hero__image {
        margin-top: 40px;
    }

    .hero__button {
        font-size: 14px;
        padding: 12px 16px;
    }
    
    .hero__button span {
        font-size: 12px;
    }

    .button {
        width: 80px;
        height: 35px;
        padding: 4px 10px;
        font-size: 12px;
    }

    .restaraunts__list {
        grid-auto-columns: 100%;
    }
    
    .restaraunts__slider-logo {
        height: 40%;
    }

    .nearest-restaraunts__form input {
        width: 235px;
        height: 60px;
    }
    
    .nearest-restaraunts__form input::placeholder {
        color: var(--color-gray);
        background: url('../assets/icons/map.svg') no-repeat;
        background-position-x: left;
        padding-left: 26px;
    }
    
    .nearest-restaraunts__button {
        height: 60px;
        font-size: 14px;
    }

    .specialities__list {
        grid-auto-columns: calc((100% / 2) - 18px);
    }

    .map {
        margin-top: 30px;
    }

    .title {
        font-size: 24px;
    }

    .instagramm__photos {
        justify-content: center;
    }
}

@media(max-width: 360px) {
    .hero__button span {
        font-size: 10px;
    }

    .nearest-restaraunts__button {
        width: 51px;
        font-size: 12px;
    }
}